.white {
    color: white;
}
.gray {
    color: #212121;
}
.yellow {
  color: #fdff37;
}
body, html {
    height:100%;
    padding:0;
    margin:0;
}
html {
    background: no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.footer {
    background: #000;
    width:100;
    height: 60px;
}

.underlined-link {
    color: #ffe700;
    text-decoration: underline;
}
.underlined-link:hover {
    color: #ffe700;
    text-decoration: none;
}
.underlined-link:visited {
    color: #ffe700;
    text-decoration: none;
}
.btn-round, .btn-round:active, .btn-round:link, .btn-round:visited {
    border-radius: 10px;
    text-decoration: none;
    background: none;
    border-color: #FF5722;
    color: white;
}
.btn-round:hover {
    border-color: white;
}
img {
    padding: 10px;
}
