.white {
    color: white;
}
body, html {
    height:100%;
    padding:0;
    margin:0
}
.footer {
    background: #000;
    width:100;
    height: 60px;
}
.navbar-toggle {
    background-color: white;
    color: black;
}
.icon-bar {
    color: black;
}

