.inner-content {
  font-size: 16px; }

.inner-content a {
  color: blue; }

ul.MenuBarHorizontal ul a {
  background: url("https://www.purdue.edu/globals/graphics/menu_bg.png"); }

#bd {
  background: none; }

#hd h1.page_title {
  font-size: 2.5em;
  left: 35%; }

#hd h1.page_title a {
  color: #fff; }

#hd .mark img {
  left: 25px;
  position: relative;
  top: 25px; }

.content {
  padding: 20px; }

.content h2 {
  width: 100%;
  margin: 0px 0px 15px 0px; }

.content p {
  margin-left: 0px;
  margin-right: 0px; }

.content .preview p, .content .preview ul {
  /*margin: 0px;*/ }

.content ul {
  margin-left: 0px;
  margin-right: 0px; }

.content ul li {
  margin-left: 1em; }

.inner-content {
  margin-left: 3em;
  margin-right: 3em; }

#ft {
  height: 80px; }

.submit {
  padding-top: 1em;
  padding-bottom: 1em; }

.returnlink {
  margin: 10px 0px;
  text-align: center; }

input[type="text"], input[type="password"], input[type="file"], textarea {
  width: auto;
  /*height: 1.5em;*/ }

fieldset {
  margin: 10px 0px; }

.edituser fieldset {
  border: 1px solid #ccc; }

legend {
  font-size: 1.2em;
  font-weight: bold;
  margin-bottom: 10px; }

.editemail div, .editgroup div, .editrecord div, .editsection div, .edituser div {
  padding: .5em 0; }

.editemail label, .editgroup label, .editrecord label, .editsection label, .edituser label {
  float: left;
  padding-right: 15px;
  width: 10em;
  text-align: right;
  font-weight: bold; }

.edituser label {
  font-weight: normal; }

.editgroup label, .editrecord label, .editsection label {
  width: 15em; }

.editemail label {
  width: 20em; }

.editemail input, .editemail select, .editemail textarea,
.editgroup input, .editgroup select, .editgroup textarea,
.editrecord input, .editrecord select, .editrecord textarea,
.editsection input, .editsection select, .editsection textarea,
.edituser input, .edituser select, .edituser textarea {
  clear: left; }

.note {
  margin: 0;
  padding: .5em 0;
  font-size: .85em;
  color: #666;
  font-weight: normal; }
  .note b {
    color: #c00; }

.snote {
  margin-top: 1em;
  font-size: .8em;
  font-style: italic;
  font-weight: normal; }

.disabled {
  background: #eee; }

.inactive {
  background: #fdb; }

.resultcount {
  font-weight: bold; }

.preview .label {
  /*float: none;*/ }

.preview .body {
  /*clear: left;*/
  position: relative;
  left: 15em;
  margin-left: 15px;
  width: 70%;
  border: 1px solid #ccc; }

.agree {
  text-align: left; }

DIV.confirm, DIV.error {
  width: auto;
  margin-top: 1em;
  margin-bottom: 1em;
  padding: 1em !important;
  border: 1px solid #fc0;
  background: #f5f5f5;
  color: #070; }

.error, DIV.error, .required {
  color: #c00; }

DIV.confirm H3, DIV.confirm H4, DIV.confirm UL, DIV.confirm LI,
DIV.error H3, DIV.error H4, DIV.error UL, DIV.error LI {
  margin: 0;
  padding: 0; }

DIV.confirm H3, DIV.error H3 {
  padding-bottom: .5em; }

DIV.confirm UL, DIV.error UL {
  margin-left: 2.5em; }

.filters {
  padding: .5em 0em;
  position: relative; }

.filters label {
  padding: .5em 0em;
  vertical-align: top; }

.filters input, .filters select, .filters textarea {
  margin-right: .5em; }

.filters input[type='checkbox'] {
  margin-right: 0em; }

.odd {
  background: #f5f5f5; }

.emaillist, .indexlist, .orglist, .questionlist, .searchlist, .sectionlist, .statuslist, .userlist {
  margin-bottom: 2em;
  border: 2px solid #ccc; }

.emaillist .row, .indexlist .row, .orglist .row, .questionlist .row, .searchlist .row, .sectionlist .row, .statuslist .row, .userlist .row {
  overflow: hidden;
  /*height: 2em;*/
  padding: 0em .5em;
  /*border-bottom: 1px solid #ccc;*/ }

.emaillist .header, .indexlist .header, .orglist .header, .questionlist .header, .searchlist .header, .sectionlist .header, .statuslist .header, .userlist .header {
  border-bottom: 2px solid #ccc;
  font-weight: bold; }

.emaillist .row div, .indexlist .row div, .orglist .row div, .questionlist .row div, .searchlist .row div, .sectionlist .row div, .statuslist .row div, .userlist .row div {
  float: left;
  padding: .5em;
  /*border-right: 1px solid #ccc;*/ }

.emaillist .row .last, .indexlist .row .last, .orglist .row .last, .questionlist .row .last, .searchlist .row .last, .sectionlist .row .last, .statuslist .row .last, .userlist .row .last {
  border-right: none; }

.emaillist a:hover div, .indexlist a:hover div, .orglist a:hover div, .questionlist a:hover div, .searchlist a:hover div, .sectionlist a:hover div, .statuslist a:hover div, .userlist a:hover div {
  background: #E2D3B5;
  cursor: pointer;
  color: black; }

.emaillist .logid {
  width: 5em; }

.emaillist .name {
  width: 8em; }

.emaillist .alias {
  width: 5em; }

.emaillist .type {
  width: 10em; }

.questionlist .questionid {
  width: 12em;
  text-align: right; }

.questionlist .questiontext {
  width: 55em; }

.searchlist {
  font-size: 85%;
  margin-top: .5em; }

.searchlist .alias {
  width: 5em; }

.searchlist .name {
  width: 7em; }

.searchlist .orgunit {
  width: 28em; }

.searchlist .type {
  width: 10em; }

.searchlist .rstatus {
  width: 6em; }

.sectionlist .sectionid {
  width: 12em;
  text-align: right; }

.statuslist {
  font-size: 90%; }

.statuslist .type {
  width: 10em; }

.statuslist .title {
  width: 30em; }

.statuslist .status {
  width: 6em; }

.statuslist .date1 {
  width: 10em; }

.statuslist .date2 {
  width: 10em; }

.statuslist .days {
  width: 6em; }

.userlist .alias {
  width: 5em; }

.userlist .name {
  width: 8em; }

.userlist .orgunit {
  width: 20em; }

.userlist .roles {
  width: 15.5em; }

.userlist .date {
  width: 3.5em; }

#userdefinedfields {
  margin-top: 1em; }

#userdefinedfield {
  margin: 1em; }

#userdefinedfield label {
  display: block;
  font-weight: bold; }
